language: python

os: focal

services:
  - xvfb

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"  # nightly build

matrix:
    # tensorflow only supports Python 3.5 to 3.8 for now
    allow_failures:
        - python: "3.9"
        - python: "nightly"

install:
  # Fix specific Python 3.6 and 3.7 tensorflow h5py dependency
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then pip install h5py==2.10.0; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then pip install h5py==2.10.0; fi
  - pip install keras numpy h5py matplotlib tensorflow tqdm

script:
  #### Testing ATMEGA_AES_v1/ATM_AES_v1_fixed_key/
  # First download and extract the database if it has not been downloaded
  - cd ATMEGA_AES_v1/ATM_AES_v1_fixed_key/ && wget https://www.data.gouv.fr/s/resources/ascad/20180530-163000/ASCAD_data.zip && rm -rf ASCAD_data && unzip ASCAD_data.zip && cd -
  # Test the database extraction
  - python ASCAD_generate.py ATMEGA_AES_v1/ATM_AES_v1_fixed_key/example_generate_params
  # Test the model
  - echo -ne '\n' | python ASCAD_test_models.py ATMEGA_AES_v1/ATM_AES_v1_fixed_key/example_test_models_params
  # Train the model but early stop since we do not have a GPU here!
  - (timeout 60 python ASCAD_train_models.py ATMEGA_AES_v1/ATM_AES_v1_fixed_key/example_train_models_params; exit 0)
  #### Testing ATMEGA_AES_v1/ATM_AES_v1_variable_key/
  # First download elements
  # Download the extracted databases
  - cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ && mkdir -p ASCAD_data/ASCAD_databases && cd -
  - cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_databases && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190903-083349/ascad-variable.h5 && mv ascad-variable.h5 ASCAD.h5 && cd -
  - cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_databases && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190903-084119/ascad-variable-desync50.h5 && mv ascad-variable-desync50.h5 ASCAD_desync50.h5 && cd -
  - cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_databases && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190903-084306/ascad-variable-desync100.h5 && mv ascad-variable-desync100.h5 ASCAD_desync100.h5 && cd -
  # Download the models
  - cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ && mkdir -p ASCAD_data/ASCAD_trained_models && cd -
  - cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_trained_models/ && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190801-132322/cnn2-ascad-desync0.h5 && cd -
  - cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_trained_models/ && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190801-132406/cnn2-ascad-desync50.h5 && cd -
  # Test the models
  - echo -ne '\n' | python ASCAD_test_models.py ATMEGA_AES_v1/ATM_AES_v1_variable_key/example_test_models_params
  
