language: python

os: focal

services:
  - xvfb

env:
  - ATM_AES_v1_fixed_key=1 ATM_AES_v1_variable_key=0 STM32_AES_v2=0
  - ATM_AES_v1_fixed_key=0 ATM_AES_v1_variable_key=1 STM32_AES_v2=0
  - ATM_AES_v1_fixed_key=0 ATM_AES_v1_variable_key=0 STM32_AES_v2=1

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"  # nightly build

matrix:
    # tensorflow only supports Python 3.5 to 3.8 for now
    allow_failures:
        - python: "3.9"
        - python: "nightly"

before_install:
  # NOTE: we need some swap for large numpy arrays that exceed our RAM size
  # (current Travis instances have only 8 GB of physical RAM)
  - sudo fallocate -l 16G /swapfile && sudo chmod 600 /swapfile && sudo mkswap /swapfile && sudo swapon /swapfile && sudo sysctl vm.swappiness=100

install:
  # Fix specific Python 3.6 and 3.7 tensorflow h5py dependency
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then pip install h5py==2.10.0; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then pip install h5py==2.10.0; fi
  - pip install keras numpy h5py matplotlib tensorflow tqdm

script:
  #######################################################################
  #### Testing ATMEGA_AES_v1/ATM_AES_v1_fixed_key/
  #######################################################################
  # First download and extract the database if it has not been downloaded
  - if [ "${ATM_AES_v1_fixed_key}" == 1 ]; then cd ATMEGA_AES_v1/ATM_AES_v1_fixed_key/ && wget https://www.data.gouv.fr/s/resources/ascad/20180530-163000/ASCAD_data.zip && rm -rf ASCAD_data && unzip ASCAD_data.zip && cd -; fi
  # Test the database extraction
  - if [ "${ATM_AES_v1_fixed_key}" == 1 ]; then python ASCAD_generate.py ATMEGA_AES_v1/ATM_AES_v1_fixed_key/example_generate_params; fi
  # Test the model
  - if [ "${ATM_AES_v1_fixed_key}" == 1 ]; then echo -ne '\n' | python ASCAD_test_models.py ATMEGA_AES_v1/ATM_AES_v1_fixed_key/example_test_models_params; fi
  # Train the model but early stop since we do not have a GPU here!
  - if [ "${ATM_AES_v1_fixed_key}" == 1 ]; then (timeout 60 python ASCAD_train_models.py ATMEGA_AES_v1/ATM_AES_v1_fixed_key/example_train_models_params; exit 0); fi
  #######################################################################
  #### Testing ATMEGA_AES_v1/ATM_AES_v1_variable_key/
  #######################################################################
  # First download elements
  # Download the extracted databases
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ && mkdir -p ASCAD_data/ASCAD_databases && cd -; fi
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_databases && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190903-083349/ascad-variable.h5 && mv ascad-variable.h5 ASCAD.h5 && cd -; fi
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_databases && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190903-084119/ascad-variable-desync50.h5 && mv ascad-variable-desync50.h5 ASCAD_desync50.h5 && cd -; fi
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_databases && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190903-084306/ascad-variable-desync100.h5 && mv ascad-variable-desync100.h5 ASCAD_desync100.h5 && cd -; fi
  # Download the models
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ && mkdir -p ASCAD_data/ASCAD_trained_models && cd -; fi
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_trained_models/ && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190801-132322/cnn2-ascad-desync0.h5 && cd -; fi
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then cd ATMEGA_AES_v1/ATM_AES_v1_variable_key/ASCAD_data/ASCAD_trained_models/ && wget https://static.data.gouv.fr/resources/ascad-atmega-8515-variable-key/20190801-132406/cnn2-ascad-desync50.h5 && cd -; fi
  # Test the models
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then echo -ne '\n' | python ASCAD_test_models.py ATMEGA_AES_v1/ATM_AES_v1_variable_key/example_test_models_params; fi
  # Train the models
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then (timeout 60 python ASCAD_train_models.py ATMEGA_AES_v1/ATM_AES_v1_variable_key/example_train_models_params; exit 0); fi
  #######################################################################
  #### Testing STM32_AES_v2/
  #######################################################################
  # First download elements
  # Download the extracted databases
  - if [ "${STM32_AES_v2}" == 1 ]; then cd STM32_AES_v2/ && mkdir -p ASCAD_data/ASCAD_databases && cd -; fi
  - if [ "${STM32_AES_v2}" == 1 ]; then cd STM32_AES_v2/ASCAD_data/ASCAD_databases && wget https://files.data.gouv.fr/anssi/ascadv2/ascadv2-extracted.h5 && cd -; fi
  # Download the trained models
  - if [ "${STM32_AES_v2}" == 1 ]; then cd STM32_AES_v2/ && mkdir -p ASCAD_data/ASCAD_trained_models && cd -; fi
  - if [ "${STM32_AES_v2}" == 1 ]; then cd STM32_AES_v2/ASCAD_data/ASCAD_trained_models && wget https://files.data.gouv.fr/anssi/ascadv2/ascadv2-multi-resnet-60epochs.h5 && cd -; fi
  - if [ "${STM32_AES_v2}" == 1 ]; then cd STM32_AES_v2/ASCAD_data/ASCAD_trained_models && wget https://files.data.gouv.fr/anssi/ascadv2/ascadv2-multi-resnet-wo-permind-60epochs.h5 && cd -; fi
  # Test the trained models
  - if [ "${STM32_AES_v2}" == 1 ]; then echo -ne '\n' | python ASCAD_test_models.py STM32_AES_v2/example_test_models_params; fi
  - if [ "${STM32_AES_v2}" == 1 ]; then echo -ne '\n' | python ASCAD_test_models.py STM32_AES_v2/example_test_models_without_permind_params; fi
  # Train the models
  # NOTE: large timeout to allow for swap ...
  - if [ "${STM32_AES_v2}" == 1 ]; then (timeout 800 python ASCAD_train_models.py STM32_AES_v2/example_train_models_params; exit 0); fi
  - if [ "${STM32_AES_v2}" == 1 ]; then (timeout 800 python ASCAD_train_models.py STM32_AES_v2/example_train_models_without_permind_params; exit 0); fi
