language: python

os: focal

services:
  - xvfb

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"  # nightly build

matrix:
    # tensorflow only supports Python 3.5 to 3.8 for now
    allow_failures:
        - python: "3.9"
        - python: "nightly"

install:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then pip install h5py==2.10.0; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then pip install h5py==2.10.0; fi
  - pip install keras numpy h5py matplotlib tensorflow tqdm

script:
  #### Testing ATMEGA_AES_v1/ATM_AES_v1_fixed_key/
  # First download and extract the database if it has not been downloaded
  - cd ATMEGA_AES_v1/ATM_AES_v1_fixed_key/ && wget https://www.data.gouv.fr/s/resources/ascad/20180530-163000/ASCAD_data.zip && rm -rf ASCAD_data && unzip ASCAD_data.zip && cd -
  # Test the database extraction
  - python ASCAD_generate.py ATMEGA_AES_v1/ATM_AES_v1_fixed_key/example_generate_params
  # Now test the model
  - echo -ne '\n' | python ASCAD_test_models.py ATMEGA_AES_v1/ATM_AES_v1_fixed_key/example_test_models_params
