language: python

cache: pip

cache:
  directories:
    - ATMEGA_AES_v1/ATM_AES_v1_fixed_key/ASCAD_data.zip

before_install:
  # First download and extract the database
  - if [ ! -f ATMEGA_AES_v1/ATM_AES_v1_fixed_key/ASCAD_data.zip ]; then cd ATMEGA_AES_v1/ATM_AES_v1_fixed_key/ && wget https://www.data.gouv.fr/s/resources/ascad/20180530-163000/ASCAD_data.zip && unzip ASCAD_data.zip && cd -; fi

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"  # nightly build

matrix:
    # tensorflow only supports Python 3.5 to 3.8 for now
    allow_failures:
        - python: "3.9"
        - python: "nightly"

install:
  - pip install keras numpy h5py matplotlib tensorflow tqdm

script:
  # Test the database extraction
  - python ASCAD_generate.py ATMEGA_AES_v1/ATM_AES_v1_fixed_key/example_generate_params 
