language: python

os: focal

services:
  - xvfb

env:
  - ATM_AES_v1_fixed_key=1 ATM_AES_v1_variable_key=0 STM32_AES_v2=0
  - ATM_AES_v1_fixed_key=0 ATM_AES_v1_variable_key=1 STM32_AES_v2=0
  - ATM_AES_v1_fixed_key=0 ATM_AES_v1_variable_key=0 STM32_AES_v2=1

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"  # nightly build

matrix:
    # tensorflow only supports Python 3.5 to 3.8 for now
    allow_failures:
        - python: "3.9"
        - python: "nightly"

before_install:
  # NOTE: we need some swap for large numpy arrays that exceed our RAM size
  # (current Travis instances have only 8 GB of physical RAM)
  - sudo fallocate -l 16G /swapfile && sudo chmod 600 /swapfile && sudo mkswap /swapfile && sudo swapon /swapfile && sudo sysctl vm.swappiness=100

install:
  # Fix specific Python 3.6 and 3.7 tensorflow h5py dependency
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then pip install h5py==2.10.0; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then pip install h5py==2.10.0; fi
  - pip install keras numpy h5py matplotlib tensorflow tqdm

script:
  #### Testing ATMEGA_AES_v1/ATM_AES_v1_fixed_key/
  - if [ "${ATM_AES_v1_fixed_key}" == 1 ]; then sh test_ATM_AES_v1_fixed_key.sh; fi
  #### Testing ATMEGA_AES_v1/ATM_AES_v1_variable_key/
  - if [ "${ATM_AES_v1_variable_key}" == 1 ]; then sh test_ATM_AES_v1_variable_key.sh; fi
  #### Testing STM32_AES_v2/
  - if [ "${STM32_AES_v2}" == 1 ]; then sh test_STM32_AES_v2.sh; fi
